body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }

  #PAD{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #999;
  }

  #top-header {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
  }

  #annees, #mois{
    background: #fff;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    width:70%;
  }

  #lignes {

  }
  
  .ligne {
    background: #fff;
    border-top: 1px solid #999;
    text-align: center;

  }
  
  .livrable {
    background: #fff;
    border-right: 1px solid #999;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 30%;
  }