body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }

  #PAD{
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-right: 0px;
    margin-right: 20px;
  }

  #top-header {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mois, #annees{
    background: #fff;
    text-align: center;
    width:88%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
  }

  #annees {
    border-bottom: 1px solid #999;
  }

  .annee {
    border-left: 1px solid #999;
    width: 100%;
  }

  .moi {
    text-align: center;
    border-left: 1px solid #999;
    width: 100%;
  }

  #lignes {

  }
  
  .ligne {
    background: #fff;
    border-top: 1px solid #999;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
  }
  
  .livrable {
    background: #fff;
    border-right: 1px solid #999;
    width: 12%;
  }

  .livrable > p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }

  .activitesLivrable {
    display: flex;
    flex-direction: column;
    width: 88%;
  }

  .activite {
    display: flex;
    align-items: center;
    position: relative;
  }

  .jalon {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
  }

  .phase {
    height: 15px;
    width: 50px;
    background-color: #555;
  }

  .activite > p {
    margin-left: 5px;
    font-size: 11px;
  }

  .ressort {
    width:60%;
    height: 10px;
  }